<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/warehouseData.css">
    <link rel="stylesheet" href="/public/css/navbar.css" />
    <link rel="stylesheet" href="./client/css/css-db.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>

    <nav>
        <div class="nav-center">
            <div class="nav-header">
                <div class="parent">
                    <div class="विधि">विधि</div>
                    <div class="pra">Pra</div>
                    <img class="image-55-icon" alt="" src="/public/images/leaf.png" />
                </div>
                <button class="nav-toggle">
                    <i class="fas fa-bars"></i>
                </button>
            </div>

            <ul class="links" style="font-family: Poppins;">
                <li>
                    <a href="index.html" style="text-decoration: none; font-family: Poppins;">Home</a>
                </li>
                <li>
                    <a href="projects.html" style="text-decoration: none;">Restock</a>
                </li>
                <li>
                    <a href="contact.html" style="text-decoration: none;">FAQ's</a>
                </li>
            </ul>
        </div>
    </nav>
    <br><br>
    <h3 style="font-size: 20px; padding-left: 14%;"> "Choose a warehouse from the options provided and sell at the most
        favorable price."</h3>

    <br><br><br><br><br><br><br><br><br><br>
    <div class="card dashcard5">
        <!-- card data -->
        <!-- <br> -->
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crop Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Crop Name</span>
                        </div>
                        <input type="text" class="form-control" placeholder="For example rice" id="cropName">
                    </div>
                    <div class="input-group my-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Crop Quantity</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Quantity in kg" id="cropQty">
                    </div>
                    <div class="input-group my-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Amount</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Amount in Rs" id="amount">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="sell" data-dismiss="modal">Sell</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="module">

    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.18.0/firebase-app.js";
    import { getFirestore, setDoc, addDoc, updateDoc, deleteDoc, getDocs, doc, collection } from "https://www.gstatic.com/firebasejs/9.18.0/firebase-firestore.js";
    import { getAuth, createUserWithEmailAndPassword, signInWithEmailAndPassword, onAuthStateChanged, signOut } from "https://www.gstatic.com/firebasejs/9.18.0/firebase-auth.js";
    const firebaseConfig = {
        apiKey: "AIzaSyCMsJalWUl6wUV_FD4C44TRF8rjBgK5Nic",
        authDomain: "pravidhi-f594d.firebaseapp.com",
        databaseURL: "https://pravidhi-f594d-default-rtdb.firebaseio.com",
        projectId: "pravidhi-f594d",
        storageBucket: "pravidhi-f594d.appspot.com",
        messagingSenderId: "381566880784",
        appId: "1:381566880784:web:3fc0de71affe76c2088e95"
    };


    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const db = getFirestore(app);
    const auth = getAuth();
    const wareHouseColRef = collection(db, 'warehouse')
    // Retrieve the status from Local Storage
    var today = new Date();
    var date = today.getDate() + '-' + (today.getMonth() + 1) + '-' + today.getFullYear();
    var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
    var dateTime = 'Date: ' + date + "  " + 'Time: ' + time;

    var isLoggedIn = localStorage.getItem('loggedIn');
    const main = document.querySelector('.main');
    const cropName = document.getElementById('cropName');
    const cropQty = document.getElementById('cropQty');
    const amount = document.getElementById('amount');
    const sell = document.querySelector('#sell');
    const sellColRef = collection(db, 'Sell Request');
    const dateRefDoc = doc(sellColRef, dateTime)



    sell.addEventListener('click', (e) => {
        event.preventDefault();
        console.log(cropName.value, cropQty.value, amount.value);
        const farmerName = localStorage.getItem('farmerName');
        const farmerContact = localStorage.getItem('farmerContact');
        const farmerAddress = localStorage.getItem('farmerAddress');

        setDoc(dateRefDoc, {
            requestDate: date,
            requestTime: time,
            cropName: cropName.value,
            cropQty: cropQty.value,
            amount: amount.value,
            occupation: "Farmer",
            farmerName: farmerName,
            farmerContact: farmerContact,
            farmerAddress: farmerAddress,

        });

    })



    // Check if the user is logged in
    if (isLoggedIn) {
    console.log("User is logged in");
    getDocs(wareHouseColRef).then((snapshot) => {
        snapshot.docs.forEach((doc) => {
            const info = doc.data()
            console.log(info.warehouseName, info.city, info.state, info.Name);

            const card = document.querySelector('.card');
            console.log(card);

            const wareCard = document.createElement('div');
            wareCard.classList = 'wareCard';

            const innerCard = `
    <div class="boxcolor1" style="font-family: Poppins;">
                <h3 style="margin-left:4%;margin-top:15px; font-size:20px; padding-top: 20px; color: black; ">${info.warehouseName}
                </h3>
                <button class="Sell" type="submit" name="ssignin" style="height: 40px; width:80px;" data-toggle="modal" data-target="#exampleModal">Sell</button>
                <span class="logindetails">Owner Name: ${info.Name}</span>
                <span class="logindetails"> Address: ${info.city}, ${info.state} </span>
            </div>
    `;
            wareCard.innerHTML += innerCard;
            card.appendChild(wareCard);
        });
    });

    } else {
        console.log(" User is not logged in");

    }




</script>

</html>