<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/warehouse-register.css">
</head>

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets7.lottiefiles.com/private_files/lf30_RA6DSR.json"
                        background="transparent" speed="1" style="width: 350px; height: 400px; left: 2%;" loop
                        autoplay></lottie-player>
                </div>

                <form class="login100-form validate-form">
                    <span class="login100-form-title" style="font-family: Poppins;">
                        Register Now
                    </span>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" name="name" placeholder="Owner Name"
                            style="font-family: Poppins;">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" name="pass" placeholder="Contact Number"
                            style="font-family: Poppins;">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" placeholder="City" style="font-family: Poppins;">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" placeholder="State" style="font-family: Poppins;">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" name="email" placeholder="Email"
                            style="font-family: Poppins;">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="password" name="pass" placeholder="Password"
                            style="font-family: Poppins;">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <a class="login100-form-btn" href="/view/farmerPrediction.html" style="font-family: Poppins;" id="signUp">
                            Register
                        </a>
                    </div>

                    <div class="text-center p-t-12">
                        <span class="txt1" style="font-family: Poppins;">
                            Already have an account?
                        </span>
                        <a class="txt2" href="../Views/warehouse-login.html" style="font-family: Poppins;">
                            Login
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    .
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    .
    <script src="vendor/select2/select2.min.js"></script>
    .
    <script src="vendor/tilt/tilt.jquery.min.js"></script>

    
</body>
<script type="module" >


signUp.addEventListener('click', (e) => {
    var crops = [];
    var Name = document.getElementById('name').value;
    var address = document.getElementById('address').value;
    var city = document.getElementById('city').value;
    var state = document.getElementById('state').value
    var email = document.getElementById('email').value;
    var soilType = document.getElementById('phone').value;
    var password = document.getElementById('password').value;
    // var cropsWheat = document.getElementById('crops-wheat').value;
    // var cropsCorn = document.getElementById('crops-corn').value;
    // var cropsRice = document.getElementById('crops-rice').value;
    var certificate = document.getElementById('certificate').value;
    var governmentId = document.getElementById('government-id').value;


    console.log(Name, address, city, state, email, soilType, password, governmentId);
    createUserWithEmailAndPassword(auth, email, password)
        .then((userCredential) => {
            console.log("HELLO: " + userCredential.user.uid);
            const user = userCredential.user;
            const uid = user.uid;
            const userDocRef = doc(wareHouseColRef, uid);
            const warehouseDetailsRef = collection(userDocRef, "warehouse-details");


            setDoc(userDocRef, {
                Name: Name,
                address: address,
                city: city,
                state: state,
                email: email,
                soilType: soilType,
                password: password,
                certificate: certificate,
                governmentId: governmentId
            })

            alert('user created!');
            // getDocs();
        })
        .catch((error) => {
            // getDocs();
            const errorCode = error.code;
            const errorMessage = error.message;

            alert(errorMessage);
        });
});
</script>

</html>